@import "./palette.scss";
@import "./units.scss";

.appHeader {
  text-align: center;
  background-color: $blue;
  min-height: 15vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appMain {
  max-width: 1024px;
  margin: 30px auto;
}

.feedTitle {
  color: $baby;
}

/* Entries */

.entryDate {
  display: flex;
  margin-bottom: $s;
}

.entryContent {
  /* GitHub Theming */
  :global {
    @import "@primer/css/core/index.scss";
    @import "@primer/css/product/index.scss";
    @import "~github-syntax-light/lib/github-light.css";

    .repo-language-color {
      border-radius: 50%;
      display: inline-block;
      height: 12px;
      position: relative;
      top: 1px;
      width: 12px;
    }
  }
}
